<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seongjun.biocube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/entrance_144"
        android:label="BioCube"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="Biocube"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserMainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminMainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpertMainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CubeRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopCubeRegist"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" />
        <activity android:name=".CubeListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DiaryAsCubeName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeInfoActivity"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopQuestion"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopCheckCube"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.seongjun.biocube.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".CommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManualRegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopManualActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentAsDiaryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CampActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>